.video-image{
    grid-column: 4/18;
    grid-row: 3/12;
    display: flex;
    align-items: center;
    margin-top: -7px;
    z-index: -1;
}
section:nth-of-type(even) .video-image{
    flex-direction: row-reverse;
    grid-column: 2/15;
    margin-top: 20px;
    margin-left: -10px;
}
.video-image .bg-img::after{
    content: '';
    width: 400px;
    height: 250px;
    background-color: #eeeeee;
    position: absolute;
    z-index: -2;
    top: 50px;
    right: 50px;
}
section:nth-of-type(even) .video-image .bg-img::after{ 
    grid-column: 7/18;
    grid-row: 1/10;
    width: 520px;
    height: 380px;
}
.video-image .bg-img{
    margin-right: -70px;
}
section:nth-of-type(even) .video-image .bg-img{
    margin-left: -70px;
}
.video-image .btn{
    width: 70%;
}