.container{
    margin: auto;
    width: 750px;
    position: relative;
    margin-top:200px;
    align-items: center;
}
.pros{
    position: relative;
    margin-bottom: 200px;
}
.block{
    width: 400px;
    height: 250px;
    background-color: #eeeeee;
    position: absolute;
    z-index: -1;
    top:-20px;
    left:350px;
}
.pros:nth-child(even) .block{
    top:1px;
    left:250px;
}
.description{
    width: 270px;
    position: absolute;
    top:-49px;
    left:-100px;
}
.pros:nth-child(even) .description{
    left: 480px;
}
.description .title{
    display: flex;
    background-color:red;
    height: 100px;
    color: #fff;
    font-size: 40px;
}
.pros:nth-child(even) .title{
    flex-direction: row-reverse;
}
.description .title .rotate{
    writing-mode: vertical-lr;
    padding-top: 7px;
    margin-left: -16px;
    font-size: 100px;
}
.pros:nth-child(even) .title .rotate{
    margin-right: -16px;
}
.description .title .text{
    margin: auto ;
    margin-right:10px
}
.pros:nth-child(odd) .title .text{
    margin-left: -10px;
}

.description .info{
    height: 150px;
    background-color: #000;
    color:#fff;
}
.description .info h3{
    padding: 25px 10px 10px 10px;
    font-size: 22px;
    font-weight: bold;
}
.description .info p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    line-height: 1.5;
}


.video_button{
    width: 80px;
    position: relative;
    right: -630px;
    bottom:-250px;
}
.pros:nth-child(even) .video_button{
    left:-20px;
}

.revolution{
    background-color: #eeeeee;
    padding: 15px 20px;
    width: 600px;
    position: absolute;
    left: -40px;
    bottom:-120px;
}
.pros:nth-child(even) .revolution{
    left:110px;
}
.revolution ul h3{
    color:darkred;
    font-weight: 900;
}
.revolution ul h3::after{
    content: '';
    display: inline-block;
    background-color: darkred;
    position: relative;
    top:-5px;
    height: 2px;
    width: 370px;
}
.revolution ul li h4{
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 17px;
    border-radius: 2px;
    padding: 3px 7px;
    margin: 3px;
}
.revolution ul li p{
    font-size: 14px;
}
.revolution ul li p::before{
    content: '▪';
    color:darkred;
}

.pros .image img{
    width: 80%;
}
.pros .image{
    position: relative;
    z-index: -1;
    left: 80px;
}

.pros:nth-child(even) .image{
    position: relative;
    left:0;
}

